.container {
    display: flex;
    max-width: 380px;
    width: 100%
}

.avaBlock {
    border: 1px solid #FFFD0B;
    flex-grow: 2;
}

.ava {

    width: 100%;
    height: 80px;
    object-fit: cover;
}

.description {
    border: 1px solid #FFFD0B;
    padding: 5px 5px;
    flex-grow: 3;
}

.menuMain {
    border: 1px solid #FFFD0B;
    flex-grow: 1;
}

/* background-color: #01171C;
        color: #FFFD0B; */