* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #01171C;
    color: #FFFD0B;
    text-decoration: none;
    font-family: system-ui;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01171C;
    /* width: 360px; */
    
    /* padding-left: 50%; */
}

.App {
    width: 1360px;
    background-color: #01171C;
}
